<template>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="block"></div>
        <div class="block logo">
          Sa<span class="has-text-success">Si</span>Ma
        </div>
        <div class="block">
          <h1 class="title is-1">
            Sampling <span class="has-text-success">Sites</span> Manager
          </h1>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .logo {
    font-size: 70px;
  }
</style>