<template>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block">
          <h1 class="title is-1">
            Not available
          </h1>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>