<template>
  <div class="container">
    <div class="block"></div>
    <div class="block">
      <h2 class="title is-2">
        Sampling Events
      </h2>
    </div>
    <div class="columns">
      <div class="column">
        <table class="table is-striped is-hoverable">
          <thead>
          <th v-for="th in tableHeader" :key="th[0]">
            {{ th[1] }}
          </th>
          </thead>
          <tbody>
          <tr v-for="ss in samplingEventsList" :key="ss.id" class="is-clickable">
            <td v-for="k in tableHeader" :key="k[0]">
              <template v-if="['sites', 'types', 'material'].includes(k[0])">
                <!-- fix data, should be list -->
                {{ ss[k[0]] }}
              </template>
              <template v-else>
                {{ ss[k[0]] }}
              </template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import {csv} from "d3";
import samplingEventsFile from "@/assets/data/sampling_events.csv?url";

const samplingEventsData = (await csv(samplingEventsFile));

const tableHeader = [
  ['date', 'Date'],
  ['sites', "Site"],
  ['types', "Types"],
  ['material', 'Material'],
  ['samples_count', '# Samples'],
  ['collectors', 'Collectors'],
];
const samplingEventsList = samplingEventsData;
</script>

<style scoped>
</style>
