<template>
  <div class="container">
    <div class="block"></div>
    <div class="block">
      <h2 class="title is-2">
        Sampling Sites
      </h2>
    </div>
    <div class="columns">
      <div class="column">
        <table class="table is-striped is-hoverable">
          <thead>
          <th v-for="th in tableHeader" :key="th[0]">
            {{ th[1] }}
          </th>
          </thead>
          <tbody>
          <tr v-for="ss in samplingSitesList" :key="ss.id" class="is-clickable"
              @click="$emit('updateView', 'SamplingSitePanel')">
            <td v-for="k in tableHeader" :key="k[0]">
              <template v-if="k[0] === 'tags'">
                {{ ss[k[0]].join(', ') }}
              </template>
              <template v-else>
                {{ ss[k[0]] }}
              </template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import {csv} from "d3";
import samplingSitesFile from "@/assets/data/sampling_sites.csv?url";

const samplingSitesData = (await csv(samplingSitesFile));

const tableHeader = [
  ['name', 'Name'],
  ['type', "Type"],
  ['plot_count', "Plot_count"],
  ['sampling_events_count', '# Sampling events'],
  ['samples_count', '# Samples'],
];
const samplingSitesList = samplingSitesData;
</script>

<style scoped>
</style>
