<template>
  <div class="container">
    <div class="block"></div>
    <div class="block">
      <h2 class="title is-2">
        Samples
      </h2>
    </div>
    <div class="columns">
      <div class="column">
        <table class="table is-striped is-hoverable">
          <thead>
          <th v-for="th in tableHeader" :key="th[0]">
            {{ th[1] }}
          </th>
          </thead>
          <tbody>
          <tr v-for="ss in samplesList" :key="ss.id" class="is-clickable">
            <td v-for="k in tableHeader" :key="k[0]">
              <template v-if="k[0] === 'tags'">
                {{ ss[k[0]].join(', ') }}
              </template>
              <template v-else>
                {{ ss[k[0]] }}
              </template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import {csv} from "d3";
import samplesDataFile from "@/assets/data/samples_data_all.csv?url";

const samplesData = (await csv(samplesDataFile));

const tableHeader = [
  ['sample_pk', 'Identifier'],
  ['sample_name', 'Name'],
  ['sample_loc_name', 'Location'],
  ['sample_labID', 'Lab ID'],
  ['sample_loc_type', 'Loc Type'],
  ['sample_type_material', "Material"],
  ['otu_count', "# OTU"],
  ['taxo_count', "# Taxon"],
];
const samplesList = samplesData;

</script>

<style scoped>
</style>
