<template>
  <div class="container" v-if="!isLoading()">
    <div class="block"></div>
    <div class="block">
      <h2 class="title is-2">
        Sampling Site
      </h2>
      <h2 class="subtitle">
        <!-- no logic implemented, alway load the data for that site -->
        Leidse Hout, Leiden
      </h2>
    </div>
    <div class="columns is-variable is-6">
      <div class="column is-one-quarter">
        <div class="tabs is-toggle">
          <ul>
            <li :class="{'is-active': heatmapMode=='richness'}" @click="switchHeatMap('richness')">
              <a>
                <span>Richness</span>
              </a>
            </li>
            <li :class="{'is-active': heatmapMode=='similarity'}" @click="switchHeatMap('similarity')">
              <a>
                <span>Similarity</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-one-quarter is-flex is-justify-content-flex-end">
        <HeatmapLegend :plotData="heatmapData" :colorPalette="heatmapColorPalette" :heatmapMode="heatmapMode"/>
      </div>
      <div class="column">
        <div class="columns is-vcentered">
          <div class="column is-half">
          </div>
          <div class="column is-3 is-pulled-right has-text-centered">
            <label class="label">Sampling events:</label>
          </div>
          <div class="column is-3 is-pulled-right">
            <div class="select">
              <select>
                <option>25/06/2021</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="block select is-rounded">
      <select v-model="selectedView">
        <option value="plot" selected>Plot view</option>
        <option value="plate">Plate view</option>
      </select>
    </div> -->
    <div class="columns is-variable is-6">
      <div class="column is-6">
        <Heatmap
            :data="heatmapData"
            :colorPalette="heatmapColorPalette"
            :selectedSubplot="selectedSubplot"
            :heatmapMode="heatmapMode"
            @select="setSelectedSubplot"
        />
      </div>
      <div class="column is-6">
        <ImageMap
            :plotData="heatmapData"
            :colorPalette="heatmapColorPalette"
            :selectedSubplot="selectedSubplot"
            :heatmapMode="heatmapMode"
        />
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="tabs is-boxed">
          <ul>
            <li :class="{'is-active' : tabSelected=='samples'}" @click="tabSelected='samples'"><a>Samples</a></li>
            <li :class="{'is-active' : tabSelected=='occurrences'}" @click="tabSelected='occurrences'">
              <a>Occurrences</a>
            </li>
            <li :class="[{'is-active' : tabSelected=='taxonDiff'},{ 'is-disabled' : true }]"
                @click="tabSelected='taxonDiff'"><a>Taxonomy Tree</a></li>
            <li :class="[{'is-active' : tabSelected=='taxonDiff'},{ 'is-disabled' : true }]"
                @click="tabSelected='taxonDiff'"><a>Comparison</a></li>
          </ul>
        </div>
        <!-- create the tab content directly inside this component, ideally each tab would contains its own vue component -->
        <div class="columns" v-show="tabSelected==='samples'">
          <div class="column">
            <table class="table is-striped samplesTable">
              <thead>
              <th v-for="th in sampleTableHeader" :key="th[0]">
                {{ th[1] }}
              </th>
              </thead>
              <tbody>
              <tr v-for="ss in sampleTableData" :key="ss.id" @click="$emit('updateView', 'SamplingSitePanel')">
                <td v-for="k in sampleTableHeader" :key="k[0]" :class="{'selected': isSelected(ss)}">
                  <template v-if="k[0] == 'compare'">
                    <label class="checkbox">
                      <input type="checkbox" @click="addSampleToCompare(ss['id'])">
                    </label>
                  </template>
                  <template v-else>
                    {{ ss[k[0]] }}
                  </template>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="columns" v-show="tabSelected==='occurrences'">
          <div class="column">
            <table class="table is-striped">
              <thead>
              <th v-for="th in occurenceTableHeader" :key="th[0]">
                {{ th[1] }}
              </th>
              </thead>
              <tbody>
              <tr v-for="ss in occurencesData" :key="ss.id">
                <td v-for="k in occurenceTableHeader" :key="k[0]">
                  {{ ss[k[0]] }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="columns" v-show="tabSelected==='taxonDiff'">
          <div class="column">
            taxon diff
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Heatmap from "@/components/Heatmap.vue";
import ImageMap from "@/components/ImageMap.vue";
import HeatmapLegend from "@/components/HeatmapLegend.vue";
</script>

<script>
import {csv, interpolateGreens, interpolateBlues} from "d3";
import samplesRichnessFile from "@/assets/data/heatmap_richness_1.csv?url";
import samplesDifferenceOneFile from "@/assets/data/heatmap_diff_1.csv?url";
import samplesDifferenceTwoFile from "@/assets/data/heatmap_diff_2.csv?url";
import samplesDataFile from "@/assets/data/samples_data.csv?url";
import occurrencesDataFile from "@/assets/data/occurrences_data.csv?url";


export default {
  name: 'sampling-site-panel',
  data() {
    return {
      selectedSubplot: {},
      selectedView: "plot",
      tabSelected: "samples",
      heatmapMode: "richness",
      similarityFirstMode: true,
      heatmapData: [],
      samplesRichness: [],
      samplesDifferenceOne: [],
      samplesDifferenceTwo: [],
      sampleTableData: [],
      occurencesData: [],


      heatmapColorPalette: interpolateGreens,
      samplesToCompare: [],
      sampleTableHeader: [
        ['sample_pk', 'Identifier'],
        ['sample_name', 'Name'],
        ['well_id', "Plate Position"],
        ['sample_site', "Plot Position"],
        ['sample_site_name', "Plot name"],
        ['sample_type_material', "Type"],
        ['otu_count', "# OTU"],
        ['taxo_count', "# Taxon"],
        ['compare', "Compare"],
      ],

      occurenceTableHeader: [
        ['sample_pk', 'Sample ID'],
        ['sample_name', 'Sample Name'],
        ['OTU_ID', "OTU ID"],
        ['kingdom', 'Kingdom'],
        ['phylum', 'Phylum'],
        ['class', 'class'],
        ['order', 'Order']
      ],
    }
  },
  computed: {
    heatmapDatav2() {
      // no time for that
      // samplesData.forEach(e => {
      // })
    }
  },
  async created() {
    this.samplesRichness = (await csv(samplesRichnessFile));
    this.heatmapData = (await csv(samplesRichnessFile));

    this.samplesDifferenceOne = (await csv(samplesDifferenceOneFile));
    this.samplesDifferenceTwo = (await csv(samplesDifferenceTwoFile));
    this.sampleTableData = (await csv(samplesDataFile));
    this.occurencesData = (await csv(occurrencesDataFile));
  },
  methods: {
    isLoading() {
      const isEmpty = item => item.length === 0;

      const check = [this.samplesRichness, this.heatmapData, this.samplesDifferenceOne, this.samplesDifferenceTwo, this.sampleTableData, this.occurencesData];

      return check.some(item => isEmpty(item))
    },
    isSelected({sample_well_plate_col: sampleColumn, sample_well_plate_row: sampleRow}) {
      const isSameColumn = this.selectedSubplot.column === sampleColumn;
      const isSameRow = this.selectedSubplot.row === sampleRow;

      return isSameColumn && isSameRow;
    },
    setSelectedSubplot(subplot) {
      this.selectedSubplot = subplot

      if (this.heatmapMode !== 'richness') {
        this.similarityFirstMode = !this.similarityFirstMode;

        this.switchHeatMap('similarity')
      }
    },
    addSampleToCompare(sampleId) {
      this.samplesToCompare.indexOf(sampleId) === -1 ?
          this.samplesToCompare.push(sampleId) : this.samplesToCompare.splice(this.samplesToCompare.indexOf(sampleId), 1);
    },
    switchHeatMap(type) {
      if (type == 'richness') {
        this.heatmapMode = 'richness';
        this.heatmapData = this.samplesRichness;
        this.heatmapColorPalette = interpolateGreens;
      } else {
        this.heatmapMode = 'similarity';
        this.heatmapColorPalette = interpolateBlues;

        if (this.similarityFirstMode) {
          this.heatmapData = this.samplesDifferenceOne;
        } else {
          this.heatmapData = this.samplesDifferenceTwo;
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.tabs li.is-disabled {
  pointer-events: none;
  opacity: .65;
}

.samplesTable {
  tbody td.selected {
    background-color: #fd6161;
  }
}
</style>
