<template>
  <div v-heatmap-legend />
</template>

<script setup>
import {computed} from "vue";
import * as d3 from "d3";
import {Legend} from "@/helpers/Legend";


const props = defineProps({
  plotData: Array,
  colorPalette: Function,
  heatmapMode: String,
});

const maxValue = computed(() => {
  if(props.heatmapMode === "similarity") {
    return 1;
  }

  const dataValues = props.plotData.map(item => parseFloat(item.value));

  return Math.max(...dataValues);
})


const renderLegend = (heatmapLegend) => {
  Legend({
    color: d3.scaleSequential([0, maxValue.value], props.colorPalette),
    title: props.heatmapMode,
    tickValues: [0, maxValue.value],
    appendTo: heatmapLegend
  })
}

const vHeatmapLegend = {
  beforeMount: (heatmapLegend) => {
    renderLegend(heatmapLegend);
  },
  updated: (heatmapLegend) => {
    while (heatmapLegend.firstChild) {
      heatmapLegend.removeChild(heatmapLegend.lastChild);
    }

    renderLegend(heatmapLegend);
  },
}

</script>

<style scoped>

</style>