<template>
  <div id="image-map" class="image-mapper">
    <img class="image-mapper-img"
         :src="samplingSite">
    <svg class="image-mapper-svg">
      <rect id="ARISESAM000064" class="nf" x="175" y="150" width="25" height="25" :fill="fillCell('ARISESAM000064')" :stroke="strokeCell('ARISESAM000064')"></rect>
      <rect id="ARISESAM000001" class="nf" x="225" y="150" width="25" height="25" :fill="fillCell('ARISESAM000001')" :stroke="strokeCell('ARISESAM000001')"></rect>
      <rect id="ARISESAM000002" class="nf" x="275" y="150" width="25" height="25" :fill="fillCell('ARISESAM000002')" :stroke="strokeCell('ARISESAM000002')"></rect>
      <rect id="ARISESAM000003" class="nf" x="325" y="150" width="25" height="25" :fill="fillCell('ARISESAM000003')" :stroke="strokeCell('ARISESAM000003')"></rect>
      <rect id="ARISESAM000004" class="nf" x="150" y="175" width="25" height="25" :fill="fillCell('ARISESAM000004')" :stroke="strokeCell('ARISESAM000004')"></rect>
      <rect id="ARISESAM000005" class="nf" x="200" y="175" width="25" height="25" :fill="fillCell('ARISESAM000005')" :stroke="strokeCell('ARISESAM000005')"></rect>
      <rect id="ARISESAM000006" class="nf" x="250" y="175" width="25" height="25" :fill="fillCell('ARISESAM000006')" :stroke="strokeCell('ARISESAM000006')"></rect>
      <rect id="ARISESAM000007" class="nf" x="300" y="175" width="25" height="25" :fill="fillCell('ARISESAM000007')" :stroke="strokeCell('ARISESAM000007')"></rect>
      <rect id="ARISESAM000008" class="nf" x="175" y="200" width="25" height="25" :fill="fillCell('ARISESAM000008')" :stroke="strokeCell('ARISESAM000008')"></rect>
      <rect id="ARISESAM000009" class="nf" x="225" y="200" width="25" height="25" :fill="fillCell('ARISESAM000009')" :stroke="strokeCell('ARISESAM000009')"></rect>
      <rect id="ARISESAM000010" class="nf" x="275" y="200" width="25" height="25" :fill="fillCell('ARISESAM000010')" :stroke="strokeCell('ARISESAM000010')"></rect>
      <rect id="ARISESAM000011" class="nf" x="325" y="200" width="25" height="25" :fill="fillCell('ARISESAM000011')" :stroke="strokeCell('ARISESAM000011')"></rect>
      <rect id="ARISESAM000012" class="nf" x="150" y="225" width="25" height="25" :fill="fillCell('ARISESAM000012')" :stroke="strokeCell('ARISESAM000012')"></rect>
      <rect id="ARISESAM000013" class="nf" x="200" y="225" width="25" height="25" :fill="fillCell('ARISESAM000013')" :stroke="strokeCell('ARISESAM000013')"></rect>
      <rect id="ARISESAM000014" class="nf" x="250" y="225" width="25" height="25" :fill="fillCell('ARISESAM000014')" :stroke="strokeCell('ARISESAM000014')"></rect>
      <rect id="ARISESAM000015" class="nf" x="300" y="225" width="25" height="25" :fill="fillCell('ARISESAM000015')" :stroke="strokeCell('ARISESAM000015')"></rect>
      <rect id="ARISESAM000016" class="nf" x="175" y="250" width="25" height="25" :fill="fillCell('ARISESAM000016')" :stroke="strokeCell('ARISESAM000016')"></rect>
      <rect id="ARISESAM000017" class="nf" x="225" y="250" width="25" height="25" :fill="fillCell('ARISESAM000017')" :stroke="strokeCell('ARISESAM000017')"></rect>
      <rect id="ARISESAM000018" class="nf" x="275" y="250" width="25" height="25" :fill="fillCell('ARISESAM000018')" :stroke="strokeCell('ARISESAM000018')"></rect>
      <rect id="ARISESAM000019" class="nf" x="325" y="250" width="25" height="25" :fill="fillCell('ARISESAM000019')" :stroke="strokeCell('ARISESAM000019')"></rect>
      <rect id="ARISESAM000020" class="nf" x="150" y="275" width="25" height="25" :fill="fillCell('ARISESAM000020')" :stroke="strokeCell('ARISESAM000020')"></rect>
      <rect id="ARISESAM000021" class="nf" x="200" y="275" width="25" height="25" :fill="fillCell('ARISESAM000021')" :stroke="strokeCell('ARISESAM000021')"></rect>
      <rect id="ARISESAM000022" class="nf" x="250" y="275" width="25" height="25" :fill="fillCell('ARISESAM000022')" :stroke="strokeCell('ARISESAM000022')"></rect>
      <rect id="ARISESAM000023" class="nf" x="300" y="275" width="25" height="25" :fill="fillCell('ARISESAM000023')" :stroke="strokeCell('ARISESAM000023')"></rect>
      <rect id="ARISESAM000024" class="nf" x="175" y="300" width="25" height="25" :fill="fillCell('ARISESAM000024')" :stroke="strokeCell('ARISESAM000024')"></rect>
      <rect id="ARISESAM000025" class="nf" x="225" y="300" width="25" height="25" :fill="fillCell('ARISESAM000025')" :stroke="strokeCell('ARISESAM000025')"></rect>
      <rect id="ARISESAM000026" class="nf" x="275" y="300" width="25" height="25" :fill="fillCell('ARISESAM000026')" :stroke="strokeCell('ARISESAM000026')"></rect>
      <rect id="ARISESAM000027" class="nf" x="325" y="300" width="25" height="25" :fill="fillCell('ARISESAM000027')" :stroke="strokeCell('ARISESAM000027')"></rect>
      <rect id="ARISESAM000028" class="nf" x="150" y="325" width="25" height="25" :fill="fillCell('ARISESAM000028')" :stroke="strokeCell('ARISESAM000028')"></rect>
      <rect id="ARISESAM000029" class="nf" x="200" y="325" width="25" height="25" :fill="fillCell('ARISESAM000029')" :stroke="strokeCell('ARISESAM000029')"></rect>
      <rect id="ARISESAM000030" class="nf" x="250" y="325" width="25" height="25" :fill="fillCell('ARISESAM000030')" :stroke="strokeCell('ARISESAM000030')"></rect>
      <rect id="ARISESAM000031" class="nf" x="300" y="325" width="25" height="25" :fill="fillCell('ARISESAM000031')" :stroke="strokeCell('ARISESAM000031')"></rect>
    </svg>
  </div>
</template>

<script setup>
import {computed} from "vue";
import * as d3 from "d3";
import samplingSite from "@/assets/data/sampling_site.png";

const selectedStrokeColor = "#fb0a0a";
const defaultStrokeColor = "rgb(51, 51, 51)";
const props = defineProps({
  plotData: Array,
  colorPalette: Function,
  selectedSubplot: Object,
  heatmapMode: String,
});

const maxValue = computed(() => {
  const dataValues = props.plotData.map(item => parseFloat(item.value))

  return Math.max(...dataValues)
});

const myColor = computed(() => {
  return d3.scaleSequential()
      .interpolator(props.colorPalette)
      .domain([0, maxValue.value])
})

const getSubplot = (sampleID) => {
  return props.plotData.find(function (subplot) {
    return subplot.sampleid === sampleID;
  });
}

const fillCell = (sampleID) => {
  const subplot = getSubplot(sampleID);

  if (parseInt(subplot.value) === -1) {
    return "#3e3e3e"
  } else if (!props.selectedSubplot.value && props.heatmapMode === "similarity") {
    return "white";
  }

  return myColor.value(subplot.value);
}

const strokeCell = (subplotID) => {
  const cellIsSelectedCell = props.selectedSubplot.sampleid === subplotID;

  return cellIsSelectedCell ? selectedStrokeColor : "none";
}
</script>

<style lang="scss" scoped>
#image-map-container {
  display: inline-block;
  border: 2px solid #DDD;
  padding: 2px;
  border-radius: 3px;
  max-width: 100%;
}

#image-map {
  display: inline-block;
  max-width: 100%;
}

.image-mapper {
  max-width: 100%;
  position: relative;
  user-select: none;
}

.image-mapper-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

svg {
  rect {
    stroke-width: 2px;
  }
}
</style>
