<template>
  <div id="app">
    <nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" @click="changeView('HomeView')">
            <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            <h4 class="title is-4">Sa<span class="has-text-success">Si</span>Ma</h4>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
             data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbarBasicExample">
          <div class="navbar-start">
            <a class="navbar-item" @click="changeView('SamplingSites')">
              Sampling sites
            </a>
            <a class="navbar-item" @click="changeView('SamplingEvents')">
              Sampling events
            </a>
            <a class="navbar-item" @click="changeView('Samples')">
              Samples
            </a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item" @click="changeView('')">
              Help
            </a>
            <a class="navbar-item" @click="changeView('')">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" @click="changeView('')">
              Report an issue
            </a>
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" @click="changeView('')">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section id="extended-section" class="section">
      <suspense>
        <component v-bind:is="currentView" @updateView="changeView"></component>
      </suspense>
    </section>
    <!-- <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Prototype version - Arise Hackathon @ 2022
        </p>
      </div>
    </footer> -->
  </div>
</template>

<script>
import "@/assets/main.scss"

import HomeView from './views/HomeView.vue'
import NotFound from './views/NotFound.vue'
import SamplingSites from './views/SamplingSites.vue'
import SamplingEvents from './views/SamplingEvents.vue'
import Samples from './views/Samples.vue'
import SamplingSitePanel from './views/SamplingSitePanel.vue'

export default {
  name: 'App',
  components: {
    HomeView, NotFound, SamplingSites, SamplingEvents, Samples, SamplingSitePanel
  },
  data() {
    return {
      currentView: 'HomeView',
    }
  },
  methods: {
    changeView(viewName) {
      this.currentView = viewName ? viewName : 'NotFound';
    }
  },
}
</script>

<style lang="scss">
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

#extended-section {
  flex: 1;
}

.navbar {
  font-size: 18px;
}
</style>
